# Python/Django
*.pyc
__pycache__/
db.sqlite3
*.log

# Virtual environment
venv/
env/

# Environment variables
.env

# Static files collected
/staticfiles/

# Django migrations (optional)
store/migrations/*.py
!store/migrations/__init__.py

# IDE files
*.vscode/
*.idea/
